@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap');
body{
    font-family: 'Sora', sans-serif;
}
.skills{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    gap: 30px;
    align-content: space-evenly;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
